.select {

}

.main {
    display: inline-block;
    min-width: 70px;
    min-height: 20px;
    border: 1px solid black;
}

.items {
    position: absolute;
    padding: 5px;
}

.item {

}

.item.selected {
    background-color: dodgerblue;
    color:white;
}